<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/flights/forms.css">
<%- include('../partials/nav') %>
<main>
  <h1>Edit</h1>
  <form id="new-form" 
        action="/flights/<%= flight._id %>?_method=PUT" 
        method="POST"
  >
    <label for="airline-input">Airline:</label>
    <select class="rowLink" name="airline" id="airline-select" required>
      <option value="<%= flight.airline %>"><%= flight.airline %></option>
      <option value="American">American</option>
      <option value="Southwest">Southwest</option>
      <option value="United">United</option>
    </select>
    <label for="airport-input">Airport:</label>
    <select class="rowLink" name="aiport" id="airport-select"required>
      <option value=""<%= flight.airport %>><%= flight.airport %></option>
      <option value="AUS">AUS</option>
      <option value="DFW">DFW</option>
      <option value="DEN">DEN</option>
      <option value="LAX">LAX</option>
      <option value="SAN">SAN</option>
    </select>
    <label for="flightNo">Flight Number:</label>
    <input class="rowLink"type="text" name="flightNo" value="<%= flight.flightNo %>" id="flightNo-input"min="10"max="9999" required>
    <label for="departs">Departs:</label>
    <input class="rowLink"
    type="datetime-local" name="departs" value="<%= flight.departs %>" id="departs-input" required>
    <button type="submit">Submit</button>
  </form>
</main>

<%- include('../partials/footer') %>